footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #171738;
  height: 200px;
  width: 100%;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.texto-footer {
  color: #7878b4;
}

.logo-github {
  padding: 1rem;
  
}

.enlace-github {
  color: #7878b4;
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0);
}

.enlace-github:hover {
  color: #ffff;
  border-bottom: 2px solid #ffff;
  text-shadow: 0 0 5px white;
}
