/* Structure */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  padding: 0px 360px;
}

//Filtro
.example-form-field {
  width: 200px;
}

#icon {
  height: 13px;
}
//Tabla

table {
  width: 720px;
  margin-bottom: 10rem;
  background-color: #ffffff;

  img {
    width: 2rem;
  }
}

.tabla-header {
  font-weight: 400;
  color: black;
  background-color: #e6e6e6 !important;
}

.symbol {
  line-height: 24px;

  margin-right: 10px;
  font-weight: 500;
}

.name {
  font-weight: lighter;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.numeros {
  font-weight: 500;
}

//ngClass
.verde {
  color: #03a66d;
  font-weight: 500;
}
.rojo {
  font-weight: 500;
  color: #cf304a;
}
